* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

h1 {
    font-size: 1.5rem;

}

div.master {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 30px;
}

div {
    margin-top: 10px;
}

button {
    height: 30px;
    background-color: black;
    color: white;
    font-weight: bolder;
}

input {
    width: 35px;
}

#parte2 {
    display: none;
}

.verde {
    background-color: darkgreen;
    color: white;
    font-weight: bolder;
}

.amarelo {
    background-color: yellow;
    color: darkblue;
    font-weight: bolder;
}

.vermelho {
    background-color: red;
    color: white;
    font-weight: bolder;
}